<div class="card">
    <div class="card-text">
    <h1>Gama MXU de <br> KYMCO</h1>
    <p>KYMCO ha creado la gama más completa y novedosa de ATV. Destacan por su diseño, confort y seguridad, unos valores tan únicos como tú pensados para el ocio y el trabajo.<br><br>

        MXU 300 destaca por ser el más ligero y compacto; MXU 550 es el elegido por quienes buscan un modelo robusto, duro y fiable para el ámbito laboral; MXU 700 es la solución para los que buscan un modelo elitista y extremadamente seguro gracias a su ABS y EPS.</p>
        <button>Descúbrelo</button>
</div>
    <img src="https://www.kymco.es/storage/app/media/home/M%C3%B3dulo%20Gener%C3%ADco%20MXU/1300x1286_Modulo_Home_MXU_GENERICO_D-min.png" alt="">
</div>
