<swiper-container events-prefix="swiper-" class="swiper-container" autoplay="true" pagination="true"
  pagination-clickable="true" loop="true" speed="1000">
  <swiper-slide><img src="https://cdn.dealerwebs.co.uk/uploads/images/kymco/ak550-updated-price.jpg"
      alt=""></swiper-slide>
  <swiper-slide><img class="slideTwo" src="https://wallpapercave.com/wp/wp9984668.jpg" alt=""></swiper-slide>
  <swiper-slide><img
      src="https://images.squarespace-cdn.com/content/v1/5e188d898894e479ce9f7513/1627332597638-C8QK7NWL2DV48QW9J9YH/0018-Kymco-AK-550.jpg?format=1000w"
      alt=""></swiper-slide>
</swiper-container>