.mapa{
    width:100%;
    height:300px;
    //border:2px dashed green;
    margin-top:20px;
    margin-bottom:20px;

    h1{
        font-size:50px;
        margin-left: 40%;
    }
}

agm-map {
    height: 360px;
    width: 100%;
  }